button{
	padding:6px 12px;
	border-radius:5px;
	border:none;
	cursor:pointer;
	transition:0.2s;
	opacity:0.5;
}
button:hover{
	opacity:0.75;
}
button:active{
	opacity:1;
	transform:scale(0.97);
}
.add, .order-btn{
	background:#4CAF50;
}
.delete{
	background:#e74c3c;
}
.login{
	background:#3498db;
}
.signup{
	background:#f39c12;
}
.back{
	background:#777;
}